*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

# Vagrant
.vagrant
Vagrantfile
!example_box/Vagrantfile
Cheffile
Cheffile.lock
cookbooks
provision.sh
